<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <meta charset="utf-8" />
</head>
<body>
<a href="/useful/email?email=is@this.valid"> Check e-mail </a>
<form class = "button-bar" method="GET">
    <a href="/useful/colored" role="button"  id="Random color" > Get Random Colored Webpage!</a>
    <a href="/cheapest-first" role="button" >  </a>
    <a href="/contains-nike" role="button" aria-pressed="false" class = "button-bar" id="Contains nike" > Contains nike </a>
    <a href="/average-stock" role="button" aria-pressed="false" class = "button-bar" id="Average stock" > Average stock </a>
    <a href="/most-expensive" role="button" aria-pressed="false" class = "button-bar" id="Most expensive available"> Most expensive available</a>
</form>

</body>
</html>