<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center">
<h1> Submit a new post </h1>
<form method="post" action="#" th:action="@{/submit}" th:object="${post}">
    <label for="title" > Title: </label>
    <input type="text" th:field="*{title}" id="title">
    <p>   </p>
    <label for="url"> URL: </label>
    <input type="url" th:field="*{url}" id="url"> <br>
    <br>
    <input type="submit" value="submit">
</form>

</body>
</html>