<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Basic Webshop</title>
    <link href="/styles.css" type="text/css" rel="stylesheet">

</head>
<body>
<header>
    <h1> My shop </h1>
    <form method="GET">
        <a href="/only-available" role="button" aria-pressed="false" class = "button-bar" id="Only available" > Only available </a>
        <a href="/cheapest-first" role="button" aria-pressed="false" class = "button-bar" id="Cheapest first" > Cheapest first </a>
        <a href="/contains-nike" role="button" aria-pressed="false" class = "button-bar" id="Contains nike" > Contains nike </a>
        <a href="/average-stock" role="button" aria-pressed="false" class = "button-bar" id="Average stock" > Average stock </a>
        <a href="/home" role="button" aria-pressed="false" class = "button-bar" id="Most expensive available"> Most expensive available</a>
    </form>
    <div id="stock average">
        <form method="get" action="/average-stock" >
            <p th:text=" ${items} "/>
        </form>
    </div>
</header>
</body>
</html>