<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Basic Webshop</title>
    <link href="styles.css" type="text/css" rel="stylesheet">

</head>
<body>
<header>
    <h1> My shop </h1>
    <form method="POST">
    <input type="submit" class = "button-bar" id="Only available" value = "Only available">
    <input type="submit" class = "button-bar" id="Cheapest first" value = "Cheapest first">
    <input type="submit" class = "button-bar" id="Contains nike" value = "Contains nike">
    <input type="submit" class = "button-bar" id="Average stock" value = "Average stock">
    <input type="submit" class = "button-bar" id="Most expensive available" value = "Most expensive available">
    </form>
</header>

    <table>
        <tr>
            <th> Name </th>
            <th> Description </th>
            <th> Price </th>
            <th> Quantity of stock </th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.getName()}"></td>
        </tr>

    </table>

</body>
</html>