<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Webshop</title>
    <link href="styles.css" type="text/css" rel="stylesheet">

</head>
<body>
<header>
    <h1> My shop </h1>
    <p class = "links" for = "Only available"> Only available </p>
    <p class = "links" for = "Cheapest first"> Cheapest first </p>
    <p class = "links" for = "Contains nike"> Contains nike </p>
    <p class = "links" for = "Average stock"> Average stock </p>
    <p class = "links" for = "Most expensive available"> Most expensive available </p>
</header>

</body>
</html>